//顶部logo
.wrapper {
    width:100%; 
    font-family:'Microsoft YaHei';
}
.wxlogma { 
    width: 200px; 
    height: 230px; 
    position: fixed; 
    top: 100px; 
    left: 500px; 
    background: #fff; 
    border: solid 1px #d6d6d6; 
    z-index: 9999; 
    display: none; 
    .close { 
        position: absolute; 
        right: 5px; 
        top: 5px; 
    }
    h3 { 
        margin-top: 10px; 
        font-size: 14px; 
        font-family: 'Microsoft YaHei'; 
        color: #c80f1e; 
        padding: 0 14px; 
    }
}
.log_head { 
    height: 80px; 
    overflow: hidden; 
    margin-left: 280px;
}
.log_logo { 
    height: 80px; 
    width: 220px; 
    a { 
        position:relative; 
        width:400px; 
        height:80px; 
        display:block;
        padding:15px 0;
    }
    span { 
        text-decoration:none; 
        color:#c80f1e; 
        font-weight:normal; 
        font-size:24px; 
        position:absolute; 
        top:23px; 
        left:140px; 
        line-height:36px; 
        border-left:2px solid #d6d6d6; 
        padding-left:40px;
    }
}
.login_wrap { 
//  margin-bottom: 20px;  
    height: 450px;
    background: url(../images/login_bg.jpg) no-repeat center;
}
//内容部分
.regtip { 
    margin: 10px 30px 0 0; 
    .gozhuce {  
        color: #333333; 
        margin-left: 5px; 
        padding: 2px; 
        &:hover{
            color:#D75A1E ;
        }
    }
}
.reg dl { 
    line-height: 38px; 
    min-height: 38px; 
    dt { 
        color: #999; 
        float: left; 
        height: 38px; 
        line-height: 38px; 
        text-align: center; 
        width: 30px; 
        margin-left: 30px;
        border-bottom: 1px solid #DFDFDF;
        box-sizing: border-box;
    }
    dd { 
        margin-left: 60px; 
        input {
            height: 38px; 
            line-height: 38px;  
            width: 240px; 
            border:none;
            border-bottom: 1px solid #DFDFDF;
            box-sizing: border-box;
        }   
        button { 
            background: #c80f1e; 
            border: 0; border-radius: 3px; 
            outline:none; 
            color: #fff; 
            cursor: pointer; 
            font-size: 14px; 
            height: 40px; 
            width: 160px; 
            margin: 20px 0 20px 35px;
        }
    }    
}
#TB_overlayBG { 
    -moz-opacity: 0.5; 
    background-color: #666; 
    display: none; 
    filter: alpha(opacity=50); 
    height: 100%; 
    left: 0; 
    opacity: 0.5; 
    position: absolute; 
    top: 0; 
    width: 100%; 
    z-index: 99; 
}
.left { 
    float: left; 
}
.right { 
    float: right; 
}
.copy { 
//  padding-bottom: 15px; 
    text-align: center; 
}
.copy p { 
    line-height: 25px; 
    color: #999; 
    text-shadow: 0 1px 0 #fff; 
}
.foot_nav { 
    height: 50px; 
    line-height: 50px; 
    text-shadow: 0 1px 0 #fff; 
    text-align: center; 
}
//.foot_nav i { margin: 0 15px; color: #ccc }
.foot_nav i { 
    margin: 0 10px; 
}
#logins {
    position:absolute;
//  z-index: 9;
    right: 250px;
    top: 115px;
    height: 380px;
    width: 350px;
    background: #fff;
    border: 10px solid #81888B;
}
.zhuce-tab { 
    cursor: pointer; 
    font-size: 14px; 
    color: #333333; 
    background: #fff; 
    display: inline-block; 
    font-family: 'Microsoft YaHei'; 
    margin-left: 30px;
    .xz { 
        border-bottom: solid 1px #c80f1e;
        font-size: 14px; 
        color: #C80F1E; 
        
    }
    ul li { 
        float: left; 
        height: 40px;
        line-height: 40px;
        box-sizing: border-box;
        margin-right: 10px;
    }
}
.btn { 
    margin-left: 10px; 
    border: 1px solid #dddddd; 
    padding: 0; 
    width: 106px; 
    height: 30px; 
    background: #f4f4f4; 
    margin-top: 0; 
    text-align: center; 
    line-height: 30px; 
    color: #333; 
    text-decoration: none; 
    display: inline-block; 
}
#codedl{ 
    display: none;
} 
.bot-link { 
    text-align: center; 
    height: 60px;
    a { 
        display: inline-block; 
        width: 130px;
        height: 50px; 
        background: url('../images/bot_link.jpg') no-repeat; 
        border: solid 1px #eee; 
        border-radius: 3px; 
        margin: 0 5px;
        vertical-align:middle; 
        .shiming { 
            background-position: 0 0 ;
        }
        .wangjian { 
            background-image:url('../images/2018071814373837.png'); 
        }
        .wangjing { 
            background-position: 0 -100px ;
        }
    }

}
.bottom { 
    background: #f6f6f6;
}
.qita {
    margin-left: 30px;
    width: 270px;
    height: 20px;
    p {
        height: 20px;
        font-size: 12px;
        float: left;
        width: 215px;
    }
    a {
        height: 20px;
        font-size: 12px;
    }
}
.fashi {
    height: 107px;
    width: 350px;
   
    .xtb {
        margin-top: 5px;
        height: 20px;
        width: 60px;
        margin-left: 30px;
        .a1 {
            display: block;
            float: left;
            height: 20px;
            width: 22px;
            background: url(../images/log_icon.png) no-repeat 5px 0px;
        }
        .a2 {
            margin-left:10px;
            display: block;
            float: left;
            height: 20px;
            width: 16px;
            background: url(../images/log_icon.png) no-repeat -16px 0px;
        }
    }
    .erw {
        height: 60px;
        width: 60px;
        position: absolute;
        right: 0;
        bottom: 0;
        background: url(../images/login-code.png)no-repeat -60px 0px;
    }
}
