/*顶部*/
#top {
  width: 100%;
  background: #E3E4E5;
}

.top {
  height: 30px;
}

.top .top-weizhi {
  width: 75px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.top .top-weizhi a {
  display: block;
  height: 30px;
  font-size: 14px;
  color: #333333;
}

.top .top-weizhi a:hover {
  color: red;
}

.top .top-login p {
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
}

.top .top-login p a {
  color: #333333;
}

.top .top-login p a:hover {
  color: red;
}

.top .top-menu {
  height: 30px;
  width: 750px;
  text-align: center;
  line-height: 30x;
}

.top .top-menu .u1 {
  display: block;
  height: 30px;
  float: left;
  line-height: 30px;
  font-size: 14px;
  margin-left: 15px;
  color: #333333;
}

.top .top-menu .u1:hover {
  color: red;
  background: white;
}

.top .top-menu .u1:hover .top-l1 {
  background: white;
}

.top .top-menu .u1:hover .u2 {
  display: block;
}

.top .top-menu .u1:hover .erwei {
  display: block;
  color: #333333;
}

.top .top-menu .u1:hover .daohan {
  display: block;
}

.top .top-menu .u1 .u2 {
  display: none;
  position: absolute;
  top: 30px;
  left: 632px;
  width: 55px;
  background: white;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

.top .top-menu .u1 .u2 li a {
  font-size: 12px;
  color: #333333;
}

.top .top-menu .u1 .u2 li a:hover {
  color: red;
}

.top .top-menu .u1 .vip {
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 3px;
  text-align: center;
  background: url(../images/icon.png) no-repeat -52px -16px;
}

.top .top-menu .u1 .kehu {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 5px;
  text-align: center;
}

.top .top-menu .u1 .jubao {
  display: block;
  width: 25px;
  height: 25px;
  float: left;
  text-align: center;
  background: url(../images/top-icon-new.png) no-repeat -170px 2px;
}

.top .top-menu .u1 .dh {
  display: block;
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 3px;
  text-align: center;
  background: url(../images/icon.png) no-repeat -72px -16px;
}

.top .top-menu .u1 p {
  float: left;
}

.top .top-menu .u1 .erwei {
  display: none;
  position: absolute;
  top: 30px;
  left: 700px;
  width: 240px;
  height: 130px;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  background: white;
}

.top .top-menu .u1 .erwei .img1 {
  width: 100px;
  height: 100px;
  float: left;
}

.top .top-menu .u1 .erwei p {
  float: left;
  width: 100px;
  height: 14px;
  font-size: 12px;
  text-align: center;
}

.top .top-menu .u1 .erwei ul {
  float: right;
  width: 120px;
  height: 120px;
}

.top .top-menu .u1 .erwei ul li {
  width: 80px;
  height: 20px;
  line-height: 20px;
  background: lightgray;
  margin: 15px 15px;
  border-radius: 2px;
  text-align: center;
  font-size: 12px;
}

.top .top-menu .u1 .erwei ul li:hover {
  color: red;
}

.top .top-menu .u1 .daohan {
  display: none;
  position: absolute;
  top: 30px;
  left: 165px;
  width: 1200px;
  height: 180px;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  background: white;
  z-index: 9;
}

.top .top-menu .u1 .daohan li {
  width: 240px;
  height: 180px;
  float: left;
}

.top .top-menu .u1 .daohan li p {
  width: 240px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: red;
  font-size: 14px;
}

.top .top-menu .u1 .daohan li .u3 {
  width: 240px;
  height: 130px;
}

.top .top-menu .u1 .daohan li .u3 li {
  float: left;
  height: 30px;
  width: 120px;
  text-align: center;
  font-size: 12px;
  color: #333333;
}

#nav {
  width: 100%;
  height: 146px;
  background: #F7F7F7;
}

.nav {
  height: 146px;
}

.nav .n_l {
  width: 220px;
  height: 146px;
  float: left;
  text-align: center;
  line-height: 146px;
  background: #FFFFFF;
}
.nav .n_l img{
  float: left;
  height: 50px;
  width: 100px;
  margin: 30px 0 0 10px;
}
.nav .n_l span{
  float: left;
  height: 50px;
  line-height: 50px;
  width: 2px;
  background: gainsboro;
  margin: 30px 0 0 10px;
}
.nav .n_l p{
	float: left;
	width: 95px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	margin: 35px 0 0 0;
}
.nav .n_l h4{
	float: left;
	width: 95px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	color: #C9C5C5;
}
.nav .n_l h2{
	float: left;
	width: 220px;
	height: 45px;
	line-height: 45px;
	font-size: 12px;
	color: #FFFFFF;
	margin: 20px 0 0 0;
	background: red;
}
.nav .n_t {
  width: 980px;
  height: 100px;
  float: left;
}

.nav .n_t .t_lf {
  float: left;
  width: 624px;
  height: 100px;
}

.nav .n_t .t_lf #inp1 {
  margin: 25px 0 0 112px;
  float: left;
  height: 33px;
  width: 438px;
  border: 1px solid #F21C1C;
}

.nav .n_t .t_lf #botn1 {
  float: left;
  margin-top: 25px;
  background: #F21C1C;
  color: #FFFFFF;
  height: 35px;
  width: 70px;
}

.nav .n_t .t_lf p {
  float: left;
  width: 60px;
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  margin: 8px 0 0 112px;
}

.nav .n_t .t_lf .u4 {
  float: left;
  width: 300px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  margin: 8px 0 0 0;
}

.nav .n_t .t_lf .u4 li {
  float: left;
  margin: 0 5px 0 10px;
}

.nav .n_t .t_lf .u4 li a {
  display: block;
  height: 12px;
  font-size: 12px;
  color: #333333;
}

.nav .n_t .t_rg {
  float: left;
  width: 356px;
  height: 100px;
}

.nav .n_t .t_rg .rg_r {
  background: #FFFFFF;
  width: 160px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  float: right;
  margin-top: 25px;
  font-size: 12px;
}

.nav .n_t .t_rg .rg_r .img3 {
  width: 18px;
  height: 18px;
}

.nav .n_t .t_rg .rg_r .rg_tb {
  background: red;
  width: 20px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
}

.nav .n_b {
  height: 46px;
  width: 980px;
  float: left;
}

.nav .n_b .u5 {
  width: 980px;
  height: 46px;
  float: left;
}

.nav .n_b .u5 li {
  float: left;
  height: 46px;
  text-align: center;
  line-height: 46px;
  margin: 0 10px 0 20px;
}

.nav .n_b .u5 li a {
  color: #333333;
}

.nav .n_b .u5 li:hover a {
  color: red;
}

.nav .n_b .u5 li:hover .u6 {
  display: block;
}

.nav .n_b .u5 li:hover .u7 {
  display: block;
}

.nav .n_b .u5 li .u6 {
  display: none;
  width: 64px;
  position: absolute;
  top: 176px;
  left: 752px;
  border: 1px solid gainsboro;
  z-index: 9;
  background: white;
}

.nav .n_b .u5 li .u6 li {
  width: 64px;
  margin: 0px;
  font-size: 12px;
}

.nav .n_b .u5 li .u6 li a {
  color: #333333;
}

.nav .n_b .u5 li .u6 li a:hover {
  color: red;
}

.nav .n_b .u5 li .u7 {
  display: none;
  width: 64px;
  position: absolute;
  top: 176px;
  left: 845px;
  border: 1px solid gainsboro;
  z-index: 9;
  background: white;
}

.nav .n_b .u5 li .u7 li {
  width: 64px;
  margin: 0px;
  font-size: 12px;
}

.nav .n_b .u5 li .u7 li a {
  color: #333333;
}

.nav .n_b .u5 li .u7 li a:hover {
  color: red;
}

/*底部*/

#footers {
  width: 100%;
  background: #FFFFFF;
}

.footers {
  height: 270px;
}

.footers .footers_t {
  width: 1200px;
  height: 50px;
  margin: 30px 0;
  float: left;
}

.footers .footers_t li {
  width: 240px;
  height: 50px;
  float: left;
}

.footers .footers_t li img {
  float: left;
  height: 50px;
  width: 50px;
  margin-left: 30px;
}

.footers .footers_t li a {
  display: block;
  height: 30px;
  line-height: 30px;
  float: left;
  width: 140px;
  font-size: 18px;
  margin-left: 20px;
  color: #333333;
}

.footers .footers_t li a:hover {
  color: red;
}

.footers .footers_t li h2 {
  float: left;
  height: 20px;
  width: 140px;
  font-size: 12px;
  margin-left: 20px;
  color: #9C9C9C;
}

.footers .footers_b {
  float: left;
  height: 160px;
  width: 1200px;
  border-top: 1px solid silver;
  box-sizing: border-box;
}

.footers .footers_b .footers_b_lf {
  float: left;
  height: 100px;
  background: #FFFFFF;
  width: 900px;
  margin: 30px 0;
}

.footers .footers_b .footers_b_lf .footers_u1 {
  float: left;
  width: 180px;
  height: 100px;
}

.footers .footers_b .footers_b_lf .footers_u1 h2 {
  height: 20px;
  font-size: 14px;
  margin-bottom: 5px;
}

.footers .footers_b .footers_b_lf .footers_u1 li {
  font-size: 12px;
  margin-top: 5px;
}

.footers .footers_b .footers_b_lf .footers_u1 li a {
  color: #333333;
}

.footers .footers_b .footers_b_lf .footers_u1 li a:hover {
  color: red;
}

.footers .footers_b .footers_b_rg {
  width: 300px;
  height: 160px;
  float: left;
  background: #FFFFFF;
}

.footers .footers_b .footers_b_rg .footers_b_rg_img1 {
  float: left;
  height: 70px;
  width: 250px;
  margin: 30px 0 0 50px;
}

.footers .footers_b .footers_b_rg .footers_b_rg_img2 {
  float: left;
  height: 18px;
  width: 74px;
  margin: 17px 0 0 50px;
}

.footers .footers_b .footers_b_rg .footers_b_rg_img3 {
  float: left;
  height: 18px;
  width: 74px;
  margin: 17px 0 0 10px;
}

#bottom {
  width: 100%;
  background: #F6F6F6;
}

.bottom {
  height: 265px;
}

.bottom .bottom_u1 {
  float: left;
  width: 780px;
  margin: 0 210px;
  text-align: center;
  height: 45px;
  line-height: 45px;
}

.bottom .bottom_u1 li {
  float: left;
  height: 25px;
  line-height: 25px;
  margin: 10px 17px;
  font-size: 12px;
}

.bottom .bottom_u1 li a {
  color: #333333;
}

.bottom .bottom_u1 li a:hover {
  color: red;
}

.bottom .bottom_u1 span {
  float: left;
  height: 25px;
  line-height: 25px;
  margin: 10px 0 10px 0;
}

.bottom .bottom_u2 {
  float: left;
  width: 780px;
  margin: 0 210px;
  text-align: center;
  height: 34px;
  line-height: 34px;
}

.bottom .bottom_u2 li {
  line-height: 34px;
  float: left;
  text-align: center;
  font-size: 12px;
  margin: 0 18px;
  color: #999999;
}

.bottom .bottom_u3 {
  float: left;
  width: 780px;
  margin: 0 210px;
  text-align: center;
  height: 14px;
  line-height: 14px;
}

.bottom .bottom_u3 li {
  line-height: 14px;
  float: left;
  text-align: center;
  font-size: 12px;
  margin: 0 35px;
  color: #999999;
}

.bottom h3 {
  display: block;
  float: left;
  width: 780px;
  margin: 0 210px;
  text-align: center;
  height: 38px;
  line-height: 38px;
  font-size: 12px;
  color: #999999;
}

.bottom h4 {
  display: block;
  float: left;
  width: 780px;
  margin: 0 210px;
  text-align: center;
  height: 14px;
  line-height: 14px;
  font-size: 12px;
  color: #999999;
}

.bottom .bottom_u4 {
  float: left;
  width: 890px;
  margin: 21px  155px 0 155px;
  text-align: center;
  height: 52px;
  line-height: 52px;
}

.bottom .bottom_u4 li {
  height: 52px;
  line-height: 52px;
  float: left;
  text-align: center;
  font-size: 12px;
  margin-left: 15px;
}

.bottom .bottom_u5 {
  float: left;
  height: 47px;
  width: 1200px;
}

.bottom .bottom_u5 h5 {
  float: left;
  height: 47px;
  font-size: 12px;
  line-height: 47px;
  color: #999999;
}

.bottom .bottom_u5 li {
  float: left;
  height: 47px;
  line-height: 47px;
  margin: 0 20px 0 20px;
  font-size: 12px;
}

.bottom .bottom_u5 a {
  float: right;
  height: 47px;
  line-height: 47px;
  font-size: 12px;
  color: #999999;
  margin-right: 10px;
}

#centes{
	width: 100%;
	background: #FFFFFF;
}

.centes{
	height: 2988px;
}

.centes .centes_t{
	height: 40px;
	float: left;
	line-height: 40px;
	width: 1200px;
}

.centes .centes_l{
	height: 2948px;
	width: 220px;
	float: left;
	line-height: 40px;
}

.centes .centes_l .centes_l_u1{
	float: left;
	height: 108px;
	width: 220px;
}

.centes .centes_l .centes_l_u1 li{
	height: 36px;
	width: 220px;
	line-height: 36px;
	background: #F3F3F3;
	border: 1px solid #DFDFDF;
	box-sizing: border-box;
}

.centes .centes_l .centes_l_u1 li a{
	color: #333333;
	font-size: 12px;
	margin-left: 10px;
}

.centes .centes_l .centes_l_u1 li img{
	height: 28px;
	width: 28px;
	float: right;
	margin:4px 10px 0 0;
}

.centes .centes_l .centes_l_u1 li a:hover{
	color: red;
}

.centes_l .ma_l_b {
  width: 220px;
  height: 582px;
  margin-top: 10px;
  float: left;
  background: #FFFFFF;
}

.centes_l .ma_l_b #ml_goods {
	height: 546px;
  width: 220px;
  float: left;
}

.centes_l .ma_l_b #ml_goods li {
  text-align: center;
  width: 220px;
  height: 91px;
  border: 1px solid #DFDFDF;
	box-sizing: border-box;
}

.centes_l .ma_l_b #ml_goods li img{
	float: left;
	height: 67px;
	width: 62px;
	margin: 12px 0 12px 20px;
}

.centes_l .ma_l_b #ml_goods li :nth-child(2){
	display: block;
	float: left;
	height: 48px;
	width: 120px;
	margin: 5px 0 0 12px;
	font-size: 12px;
	text-align: left;
	word-break:break-all;
	white-space: pre-wrap; 
	line-height: 20px;
	
}

.centes_l .ma_l_b #ml_goods li :nth-child(3) {
	display: block;
	float: left;
	height: 20px;
	line-height: 20px;
	text-align: left;
	width: 120px;
	margin: 5px 0 0 12px;
  color: red;
}

.centes .centes_r{
	height: 2948px;
	width: 960px;
	margin-left: 20px;
	float: left;
	line-height: 2948px;
}

.centes .centes_r .centes_r_t{
	float: left;
	width: 960px;
	height: 388px;
}

.centes .centes_r .centes_r_t .centes_r_t1{
	float: left;
	height: 36px;
	width: 960px;
}

.centes .centes_r .centes_r_t .centes_r_t1 p{
	float: left;
	height: 36px;
	line-height: 36px;
	margin-left: 20px;
	font-size: 16px;
	color: red;
}

.centes .centes_r .centes_r_t .centes_r_t1 span{
	display: block;
	float: left;
	height: 36px;
	line-height: 36px;
	font-size: 12px ;
	color: #C5C5C5;
	margin-left: 10px;
}

.centes .centes_r .centes_r_t .centes_r_t2{
	float: left;
	height: 80px;
	width: 900px;
	margin: 20px 30px;
}

.centes .centes_r .centes_r_t .centes_r_t2 h2{
	float: left;
	text-align: left;
	line-height: 20px;
	font-size: 14px;
	height: 20px;
	width: 70px;
}

.centes .centes_r .centes_r_t .centes_r_t2 .centes_r_u1{
	width: 746px;
	height: 80px;
	float: left;
}

.centes .centes_r .centes_r_t .centes_r_t2 .centes_r_u1 li{
	width: 106px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	float: left;
	border: 1px solid #C5C5C5;
	box-sizing: border-box;
}

.centes .centes_r .centes_r_t .centes_r_t2 .centes_r_u1 li img{
	height: 30px;
	width: 80px;
}

.centes .centes_r .centes_r_t .centes_r_t2 h3{
	float: left;
	text-align: right;
	line-height: 20px;
	font-size: 14px;
	height: 20px;
	width: 84px;
	color: red;
}

.centes .centes_r .centes_r_t .centes_r_t3{
	float: left;
	height: 200px;
	width: 900px;
	margin: 0 30px;
}

.centes .centes_r .centes_r_t .centes_r_t3 .r_t3{
	float: left;
	height: 40px;
	width: 900px;
}

.centes .centes_r .centes_r_t .centes_r_t3 .r_t3 p{
	float: left;
	height: 40px;
	width: 70px;;
	text-align: left;
	line-height: 40px;
	font-size: 12px;
}

.centes .centes_r .centes_r_t .centes_r_t3 .r_t3 .centes_r_u2{
	float: left;
	height: 40;
	line-height: 40px;
	width: 830px;
	border-top: 1px dashed #C5C5C5;
	box-sizing: border-box;
}

.centes .centes_r .centes_r_t .centes_r_t3 .r_t3 .centes_r_u2 li{
	height: 40;
	float: left;
	font-size: 12px;
	margin-right: 15px;
	line-height: 40px;
	
}

.centes .centes_r .centes_r_t .centes_r_t3 .r_t3 .centes_r_u2 li a{
	color: #333333;
}

.centes .centes_r .centes_r_t .xuanxiang{
	float: left;
	width: 960px;
	text-align: center;
	line-height: 32px;
	height: 32px;
}

.centes .centes_r .centes_r_t .xuanxiang img{
	float: left;
	width: 960px;
	height: 32px;
}

.centes .centes_r .centes_r_c{
	float: left;
	width: 960px;
	height: 2222px;
/*	background: cyan;*/
}

.centes .centes_r .centes_r_c .ma_r_px{
	width: 960px;
	float: left;
	height: 42px;
	margin-top: 10px;
	background: #F3F3F3;
	border: 1px solid #C5C5C5;
	box-sizing: border-box;
	line-height: 42px;
}

.centes .centes_r .centes_r_c .ma_r_px a{
	float: left;
	width: 65px;
	height: 42px;
	text-align: center;
	font-size: 12px;
	color: #333333;
}

.centes .centes_r .centes_r_c .ma_r_px a:hover{
	color: red;
	background: yellow;
}

.centes .centes_r .centes_r_c .ma_r_px span{
	float: left;
	width: 2px;
	height: 42px;
	text-align: center;
	color: #333333;
}

.centes .centes_r .centes_r_c #mr_goods{
	float: left;
	height: 2080px;
	width: 960px;
}

.centes .centes_r .centes_r_c #mr_goods li{
	float: left;
	margin: 5px 7px;
	height: 404px;
	width: 226px;
	text-align: center;
	border: 1px solid #FFFFFF; 
	line-height: 404px;
	box-sizing: border-box;
}

.centes .centes_r .centes_r_c #mr_goods li:hover{
	border: 1px solid #C5C5C5;
/*	box-sizing: border-box;*/
}

.centes .centes_r .centes_r_c #mr_goods li img{
	float: left;
	width: 200px;
	height: 200px;
	margin: 10px 12px;
}
.centes .centes_r .centes_r_c #mr_goods li #p1{
	float: left;
	width: 200px;
	height: 40px;
	margin: 20px 12px 10px 12px;
}
.centes .centes_r .centes_r_c #mr_goods li #p1 a{
	float: left;
	width: 200px;
	text-align: left;
	word-wrap: break-word; 
	word-break:break-all;
	height: 40px;
	line-height: 20px;
	font-size: 12px;
	color: #333333;
}
.centes .centes_r .centes_r_c #mr_goods li p{
	float: left;
	height: 20px;
	width: 200px;
	text-align: left;
	font-size: 12px;

	line-height: 20px;
	margin: 4px 12px;
}

.centes .centes_r .centes_r_c .page{
	float: left;
	height: 90px;
	line-height: 90px;
	width: 560px;
	padding-left: 400px;
}
.centes .centes_r .centes_r_c .page span{
	display:inline-block;
	margin:5px;
	width:40px;
	float: initial;
	line-height:1.8;
	text-align: center;
	background-color:#dfdfdf;
	color:#666;
}
.centes .centes_r .centes_r_c .page span.active{
	background-color:#fc0;
	color:#fff;
}

.centes .centes_r .centes_r_b{
	float: left;
	width: 960px;
	height: 338px;
	
}
.centes .centes_r .centes_r_b h2{
	float: left;
	height: 38px;
	text-align: left;
	line-height: 38px;
	width: 960px;
	background: #F3F3F3;
	border: 1px solid #C5C5C5;
	box-sizing: border-box;
}
.centes .centes_r .centes_r_b .centes_r_b_u1{
	float: left;
	width: 960px;
	height: 300px;
	border: 1px solid #C5C5C5;
	box-sizing: border-box;
}
.centes .centes_r .centes_r_b .centes_r_b_u1 li{
	float: left;
	width: 319px;
	height: 150px;
}
.centes .centes_r .centes_r_b .centes_r_b_u1 li img{
	float: left;
	height: 100px;
	width: 100px;
	margin: 25px  10px 25px 30px;
}
.centes .centes_r .centes_r_b .centes_r_b_u1 li a{
	float: left;
	height: 35px;
	text-align: left;
	line-height: 15px;
	width: 150px;
	margin-top: 25px;
	font-size: 16px;
	word-break:break-all;
	color: #333333;
}
.centes .centes_r .centes_r_b .centes_r_b_u1 li p{
	width: 150px;
	height: 34px;
	color: red;
	line-height: 34px;
	float: left;
}
.centes .centes_r .centes_r_b .centes_r_b_u1 li input{
	border-radius: 5px;
	float: left;
	width: 80px;
	height: 32px;
	background: red;
}
